Django>=4.2
djangorestframework
gunicorn
dj-database-url
python-dotenv
whitenoise
stripe
django-cors-headers
Pillow
django-filter
qrcode
django-redis
djangorestframework-simplejwt
celery
redis
matplotlib
reportlab
openpyxl
boto3
django-storages
django-allauth
dj-rest-auth
django-axes
django-otp
django-two-factor-auth
django-two-factor-auth==1.18.1
requests
django-otp==1.6.2
pyotp==2.9.0
cryptography
google-auth
google-auth-oauthlib